<div class="row mt-3">
    <!-- Title -->
    <div class="col-md-12 text-center">
        <h1>Selamat Datang</h1>
    </div>
    
    <!-- Image of QR Code -->
    <div class="col-md-12 text-center">
        <img id="qr-wa" src="" alt="">
    </div>
    
    <!-- Text Area For Showing Information -->
    <div class="col-md-12 text-center">
        <div class="form-group">
            <textarea class="form-control" id="data" rows=10 autofocus></textarea>
        </div>
    </div>
</div>